* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
:root {
  --primary: hsl(160deg, 100%, 30%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-darker: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --grey-very-dark: hsl(0deg, 0%, 10%);
  --grey-dark: hsl(0deg, 0%, 30%);
  --grey-medium: hsl(0deg, 0%, 40%);
  --grey-light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

main {
  background-color: var(--grey-light);
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 6px solid var(--grey-medium);
}

h1,
h2 {
  color: var(--black);
}

h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
  color: var(--grey-very-dark);
}

strong {
  color: var(--primary);
}

.max-width-wrapper {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 4rem 2rem;
  max-width: 26rem;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.card {
  padding: 2rem;
  background-color: var(--white);
  border-bottom: 6px solid var(--grey-medium);
}

.indented-heading {
  display: inline-block;
  padding: 1rem 3rem;
  margin-left: -3rem;
  margin-top: -1.5rem;
  margin-bottom: 0;
  background-color: var(--secondary-light);
  border-bottom: 6px solid var(--secondary-darker);
}
